body {
  font-family:"Trebuchet MS";
  background: rgb(247,248,254);
  background: linear-gradient(90deg, rgba(247,248,254,1) 0%, rgba(184,217,186,1) 50%, rgba(130,138,195,1) 100%);
}

.divHeading {
  width:100%;
  height:5vw;
  padding-top:1vw;
  padding-bottom:1vw;
  background-image:url('headingbg.svg');
}

.headingText {
  float:left;
  margin-left:1vw;
}

#navbarDiv {
  float:right;
  margin-right:1vw;
}

#navbarList {
  list-style-type: none;
  margin:0;
  padding:0;
}

.navbarItems {
  float:left;
  color:#00f;
  text-align:center;
  display:block;
}

.navbarItems a:hover {
  background-color:#ddd;
  color:#000;
}

.navbarLinks {
  display:block;
  text-decoration:none;
  background-color:#666;
  color:#fff;
  text-align:center;
  padding:2vw;
}

#selectedPage { /*Shows the current page being viewed in the navbar*/
  background-color: #444;
  color:#fff;
}
